.elementor-21 .elementor-element.elementor-element-cfc9c04 > .elementor-background-overlay {
  background-image: url("/default/banner.gif");
  background-position:  center;
  background-size: cover;
  opacity: 0.5;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .elementor-nav-menu .elementor-item {
  font-family: "starwars", Sans-serif;
  font-weight: 600;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .elementor-nav-menu--main .elementor-item {
  color: #ffffff;
  fill: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .elementor-nav-menu--main .elementor-item:hover,
.elementor-21
  .elementor-element.elementor-element-36b55d3
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-21 .elementor-element.elementor-element-36b55d3 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-21 .elementor-element.elementor-element-36b55d3 .elementor-nav-menu--main .elementor-item:focus {
  color: #fffa36;
  fill: #fffa36;
}
.elementor-21
  .elementor-element.elementor-element-36b55d3
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-21
  .elementor-element.elementor-element-36b55d3
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: #00faff00;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-framed .elementor-item:before,
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-framed .elementor-item:after {
  border-color: #00faff00;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 {
  --e-nav-menu-divider-content: "";
  --e-nav-menu-divider-style: solid;
  --e-nav-menu-divider-width: 1px;
  --e-nav-menu-divider-color: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-framed .elementor-item:before {
  border-width: 2px;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-framed.e--animation-draw .elementor-item:before {
  border-width: 0 0 2px 2px;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-framed.e--animation-draw .elementor-item:after {
  border-width: 2px 2px 0 0;
}
.elementor-21
  .elementor-element.elementor-element-36b55d3
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 2px 0 0 2px;
}
.elementor-21
  .elementor-element.elementor-element-36b55d3
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 2px 2px 0;
}
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-underline .elementor-item:after,
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-overline .elementor-item:before,
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-double-line .elementor-item:before,
.elementor-21 .elementor-element.elementor-element-36b55d3 .e--pointer-double-line .elementor-item:after {
  height: 2px;
}
.elementor-21 .elementor-element.elementor-element-2f03d65 .elementor-repeater-item-7126758.elementor-social-icon {
  background-color: #a002ff00;
}
.elementor-21 .elementor-element.elementor-element-2f03d65 .elementor-repeater-item-e973676.elementor-social-icon {
  background-color: #18b7b400;
}
.elementor-21 .elementor-element.elementor-element-2f03d65 .elementor-repeater-item-fc0500c.elementor-social-icon {
  background-color: #18b7b400;
}
.elementor-21 .elementor-element.elementor-element-2f03d65 {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-21 .elementor-element.elementor-element-2f03d65 .elementor-widget-container {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-2f03d65 > .elementor-widget-container {
  --e-transform-scale: 1.5;
}
.elementor-21 .elementor-element.elementor-element-def689e {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-def689e .elementor-heading-title {
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-size: 93px;
  font-weight: 100;
  letter-spacing: 1.1px;
}
.elementor-21 .elementor-element.elementor-element-156a7a7 {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-156a7a7 .elementor-heading-title {
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2.6px;
}
.elementor-21 .elementor-element.elementor-element-a18f7e7 > .elementor-widget-container {
  --e-transform-translateY: -120px;
}
.elementor-21 .elementor-element.elementor-element-b3c284f {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-7c7f9aa {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-7c7f9aa .elementor-heading-title {
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 600;
  letter-spacing: 4.4px;
}
.elementor-21 .elementor-element.elementor-element-5c70ce2 {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-6fd4dbf {
  text-align: center;
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 100;
  letter-spacing: 1.6px;
}
.elementor-21 .elementor-element.elementor-element-601bed1 {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-eb01375 > .elementor-background-overlay {
  background-image: url("/default/banner2.gif");
  background-position: center;
  background-size: cover;
  opacity: 0.33;
}
.elementor-21 .elementor-element.elementor-element-9ac36aa {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-0bbdc73 {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-0bbdc73 .elementor-heading-title {
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 600;
  letter-spacing: 4.4px;
}
.elementor-21 .elementor-element.elementor-element-395dd1d {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-02f0339 {
  text-align: center;
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 100;
  letter-spacing: 1.6px;
}
.elementor-21 .elementor-element.elementor-element-1c65b46 {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-fb9da0e {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-7067daa {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-7067daa .elementor-heading-title {
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 600;
  letter-spacing: 4.4px;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-tab-title {
  border-width: 2px;
  border-color: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-tab-content {
  border-width: 2px;
  border-bottom-color: #ffffff;
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 400;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-toggle-title,
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-toggle-icon {
  color: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-toggle-icon svg {
  fill: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-tab-title.elementor-active a,
.elementor-21
  .elementor-element.elementor-element-57de9d4
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon {
  color: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-toggle-title {
  font-family: "starwars", Sans-serif;
  font-size: 24px;
  font-weight: 100;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-tab-title .elementor-toggle-icon i:before {
  color: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-57de9d4 .elementor-tab-title .elementor-toggle-icon svg {
  fill: #ffffff;
}
.elementor-21
  .elementor-element.elementor-element-57de9d4
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  i:before {
  color: #ffffff;
}
.elementor-21
  .elementor-element.elementor-element-57de9d4
  .elementor-tab-title.elementor-active
  .elementor-toggle-icon
  svg {
  fill: #ffffff;
}
.elementor-21 .elementor-element.elementor-element-2debc58 {
  text-align: center;
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 100;
  letter-spacing: 1.6px;
}
.elementor-21 .elementor-element.elementor-element-17b0c46 {
  --spacer-size: 25px;
}
.elementor-21 .elementor-element.elementor-element-eff37b7 {
  text-align: center;
}
.elementor-21 .elementor-element.elementor-element-eff37b7 .elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto Mono", Sans-serif;
  font-weight: 600;
  font-style: italic;
}
.elementor-21 .elementor-element.elementor-element-5f9603e > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, #ffffff 100%);
  opacity: 0.5;
}
.elementor-21 .elementor-element.elementor-element-bec1f57 {
  text-align: center;
  color: #ffffff;
  font-family: "starwars", Sans-serif;
  font-weight: 100;
  letter-spacing: 1.6px;
}
body.elementor-page-21:not(.elementor-motion-effects-element-type-background),
body.elementor-page-21 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #000000;
} /* Start custom CSS for heading, class: .elementor-element-def689e */
@keyframes shining {
  0% {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 15px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 0, 0, 0.6),
      0 0 30px rgba(255, 0, 0, 0.6),
      0 0 40px rgba(255, 0, 0, 0.6),
      0 0 50px rgba(255, 0, 0, 0.6);
  }
  100% {
    text-shadow:
      0 0 3px rgba(255, 255, 255, 0.8),
      0 0 6px rgba(255, 255, 255, 0.8),
      0 0 9px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(255, 0, 0, 0.6),
      0 0 18px rgba(255, 0, 0, 0.6),
      0 0 24px rgba(255, 0, 0, 0.6),
      0 0 30px rgba(255, 0, 0, 0.6);
  }
}

.custom-heading {
  font-size: 2.5em;
  color: #fff;
  text-shadow:
    0 0 3px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(255, 255, 255, 0.8),
    0 0 9px rgba(255, 255, 255, 0.8),
    0 0 12px rgba(255, 0, 0, 0.6),
    0 0 18px rgba(255, 0, 0, 0.6),
    0 0 24px rgba(255, 0, 0, 0.6),
    0 0 30px rgba(255, 0, 0, 0.6);
  animation: shining 3s infinite alternate;
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-a18f7e7 */
.custom-image {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.custom-image img {
  display: block;
  margin: 0 auto;
  animation:
    shine 2s linear infinite,
    levitate 5s ease-in-out infinite;
}

@keyframes shine {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1) drop-shadow(0 0 20px rgba(255, 0, 0, 0.8));
  }
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
} /* End custom CSS */
